---
import Layout from "../layouts/Layout.astro";
---

<script is:inline>var global = global || window;</script>
<Layout title={"Hello World"}>
	<div>
		<label for="Amount">First name: </label>
		<input type="text" id="fname" name="fname"><br><br>
		<input type="submit" onclick="" value="Submit">
	  </div>	
</Layout>

